html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Text", Roboto, Helvetica, sans-serif;
  background: #eee;
}

* {
  box-sizing: border-box;
}
main {
  font-family: "Red Hat Text";
  background: #fff;
  padding: 20px;
  margin: 40px 0;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  --pfe-grid--Margin: var(--pfe-theme--content-spacer--body--md) 0;
}
.hero {
  width: 100%;
  font-family: "Red Hat Display", Roboto,Helvetica, sans-serif;
}
.homepage h1 a,
.homepage h2 a,
.homepage h3 a,
.homepage h4 a,
.homepage h5 a,
.homepage h6 a{
  color: inherit;
}
