:root {
  --main-container--padding: calc(3 * var(--pfe-theme--container-padding));
}
html {
  background: #eee;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Text", Roboto, Helvetica, sans-serif;
  background: transparent;
}
.wrapper:before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(/burger.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

* {
  box-sizing: border-box;
}
hr {
  border: 0;
  border-top: 1px solid var(--pfe-theme--surface--border-lightest);
}
.main {
  font-family: "Red Hat Text";
  background: rgb(255 255 255 / 90%);
  background: #fff;
  padding: var(--main-container--padding);
  margin: var(--pfe-theme--container-padding) 0 0 0;
  z-index: 1;
  max-width: calc(1400px + 2 *  var(--pfe-theme--container-spacer) );
  box-shadow: 1px 1px 20px #000;
}
.container {
  margin-left: var(--pfe-theme--container-spacer);
  margin-right: var(--pfe-theme--container-spacer);
  --pfe-grid--Margin: var(--pfe-theme--content-spacer--body--md) 0;
}
@media screen and (min-width: 1400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
.hero {
  width: 100%;
  font-family: "Red Hat Display", Roboto,Helvetica, sans-serif;
}
 
.homepage h2  {
  color: var(--pfe-theme--color--ui-accent);
}
.homepage h3 a {
  color: inherit;
}

footer {
  margin-top: calc(5 * var(--pfe-theme--container-spacer));
  text-align: center;
  font-size: var(--pfe-theme--font-size--zeta);
}
footer a {
  color: inherit;
  text-decoration: underline;
}
code {
  font-size: 12px;
}

code.wrap {
  overflow: scroll;
  max-width: 100%;
  display: block; 
}